a{
  text-decoration: none;
}



/*LandingPage*/
.Particles{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.header-color {
  background: #00d2ff;
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
  background: linear-gradient(to right, #3a7bd5, #00d2ff);
  z-index: 1;

}

.landing-grid{
  /* background: url("./pier.jpg");
  background-position:center;
  background-repeat: none;
  background-size: cover; */

  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 1;
}


/* .avatar-img{
  height: 250px;
  padding-top: 5em;
  margin-bottom: 40px
} */

.banner-text{
  height: 50%;
  width: 70%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

}

.banner-text h1 {
  font-size: 6vw;
  font-weight: bold;
  text-align: center;
}

.banner-text hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p{
  font-size: 20px;
  padding: 1em;
  text-align: center;
}

.social-links{
  margin: 8px;
}

.social-links a{
  margin: 2.5vw;
}

.social-links i{
  font-size: 10vw;
}


/* Project */
.projects-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;



}
.category-tabs{
  position: fixed;
  background: white;
  height: 95%;
  width: 100%;
  overflow: scroll;

}



/* Contact */
.contact-body{
  margin: auto;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 2em;
}

.contact-grid{

  text-align: center;
  justify-content: center;
  width: 80%;
  background: white;
  color: black;
  border-radius: 10px;
  margin-bottom: 20px;

}

.contact-grid h2 {
  font-family: Anton, sans-serif;
}

.contact-grid p {
  font-family: Oxygen, sans-serif;
  width: 75%;
  margin: auto;
  padding-top: 1em;
}

.contact-grid hr{
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.list-items{
  font-size: 25px;
  font-family: Anton, sans-serif;


}

.list-items i{
  font-size: 4vw;
  padding-right: 5rem;
}

/* Resume */
.resume-right-col{
  background: #27221f;
  color: white;
  padding: 2em;
  border-top-right-radius: 4%;

}


.resume-sub-container{
  border-top-left-radius: 23%;
  border-top-right-radius: 4%;
  background: white;
}

.resume-sub-container p {
  text-align: justify;
}

.form {
  height: 50%;
  width: 70%;
  border-radius: 10px;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.mdl-textfield__input{
    border-bottom: 1px solid white !important;
    color: black !important;
}

.mdl-textfield__label{
    color: black !important;
}
#page{
  /* background: rgba(255, 255, 255, 1); */
  width: 90%;
  height: 100%;
  border-radius: 10px;
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  color: white;
}

#page img{
  margin-left: 350px;
}

/* Responsive query */
@media screen and (min-width: 1000px) {

  .social-links i{
     font-size: 5vw;
  }
  .banner-text h1 {
    font-size: 3vw;
  }
}

@media screen and (max-width: 500px) {

  .category-tabs{
    margin-top: 40px;
  }

  .banner-text p{
    font-size: 4vw;
  }

  .avatar-img{
    padding-top: 3em;
    width: 60vw;
    height: 60vw;
  }

  .list-items{
    font-size: 4.6vw;
  }
  .list-items i{
    font-size: 7vw;
    padding-right: 2rem;
  }
  .resume-sub-container{
      border-top-right-radius: 0%;
  }
  .resume-right-col{
      border-top-right-radius: 0%;
  }
  .about-container{
    background: rgba(0, 0, 0, 0.0);
  }
  .about-sub-container{
    border-top-right-radius: 100px;
    border-bottom-left-radius: 0;
    margin: auto;
    padding: 11vw;
    height: 500vw;
    text-align: justify;
  }
  .circle {
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 2
  }

  #arrowAnim {
    position: absolute;
    margin-left: 120px;
    margin-top: 8px;
    /* width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center */
  }

  .arrow {
    width: 5vw;
    height: 5vw;
    border: 2.5vw solid;
    border-color: white transparent transparent white;
    transform: rotate(-45deg);
  }


  .arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite;
            animation: slide 4s linear infinite;
  }

  .delay1 {
    -webkit-animation-delay: 1s;
      animation-delay: 1s;
  }
  .delay2 {
    -webkit-animation-delay: 2s;
      animation-delay: 2s;
  }
  .delay3 {
    -webkit-animation-delay: 3s;
      animation-delay: 3s;
  }

  @-webkit-keyframes slide {
      0% { opacity:0; transform: translateX(15vw); }
     20% { opacity:1; transform: translateX(9vw); }
     80% { opacity:1; transform: translateX(-9vw); }
    100% { opacity:0; transform: translateX(-15vw); }
  }
  @keyframes slide {
      0% { opacity:0; transform: translateX(15vw); }
     20% { opacity:1; transform: translateX(9vw); }
     80% { opacity:1; transform: translateX(-9vw); }
    100% { opacity:0; transform: translateX(-15vw); }
  }
}
